body{
    margin: 10px;
}

nav {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

nav div div{
    font-size: large;
}

nav a {
    color: #495057;
    text-decoration: none;
    margin: 1rem;
    font-weight: 500;
}